@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'variables/custom_property';

// Checkbox when it is checked
input[type="checkbox"]:checked ~ .portfolio_heading .portfolio_menu_navigation {
  transform: translateX(0%);
}

// Checkbox when it is not checked
input[type="checkbox"]:checked ~ .portfolio_details {
  z-index: 1;
}

// Hiding the menu when the header or the label is checked
input[type="checkbox"]:checked ~ .portfolio_heading .label_menu {
  @include absolute-position;
  background-position: calc(100% - var(--base-padding)) 27px;
  color: transparent;
  width: var(--width);
  height: var(--height);
}

// Hidding the checkbox
.menu_checkbox {
  visibility: var(--visibility);
}

// Label of the checkbox
.label_menu {
  color: transparent;
  position: var(--parent-position);
  @include background('../web_icons/icon_menu.svg');
  background-position: 100%;
  background-size: auto;
}
