@import 'variables/fonts';
@import 'variables/variables';
@import 'variables/mixin';
@import 'variables/custom_property';

// Body
body {
  font-family: 'DM sans';
  font-weight: 400;
  margin: calc(var(--base-margin) * 0);
  background-color: var(--body-bg-color);
}

// All the container
.container {
  padding: var(--base-padding);
  max-width: calc(619px + 227px + 324px);
  margin: auto;
}

// Ul
ul {
  @include reset-list;
}

// Anchor
a {
  text-decoration: var(--reset-anchor);
}

// Social media
.portfolio__media {
  @include displayFlex;
  justify-content: start;
}

button {
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
  border: none;
}