@import 'variables/fonts';
@import 'variables/variables';
@import 'variables/mixin';
@import 'custom_property';


body {
  font-family: 'DM sans';
  font-weight: 400;
  margin: $margin * 0;
}

.container {
  padding: $padding;
}

footer {
  padding: $padding;
}

ul {
  @include reset-list;
}

a {
  text-decoration: var(--reset-anchor);
}

