@import 'variables/fonts';

// Looping the fonts
@each $font in $fonts {
  @font-face {
    font-family: map-get($font, 'family');
    font-weight: map-get($font, 'weight');
    font-style: map-get($font, 'style');
    src: local(map-get($font, 'family')),
      local(map-get($font, 'local1')),
      local(map-get($font, 'local2')),  
      url('../fonts/#{map-get($font, "filename")}.woff2') format("woff2"),
      url('../fonts/#{map-get($font, "filename")}.woff') format("woff");
  }
}