@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'variables/custom_property';

// Position relative on the footer
.portfolio_footer {
  position: var(--parent-position);
  background-color: #fff;
}

// This is the border after the blog entry, I use pseudo after to set it.
.portfolio_footer::after {
  content: '';
  display: block;
  width: var(--width);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  @include absolute-position;
  top: calc(100% - 375px / 3);
  box-sizing: border-box;
}

// A div which wraps everything inside of the container
.portfolio_footer__container {
  @include container;
}

// This is a div which wraps the footer about, footer nav and the blog entry
.portfolio_footer__description {
  padding-bottom: calc(var(--base-padding) * 3);
}

.portfolio_footer__about {
  padding-top: 76px;
}

// Change the logo colour into black
.portfolio_footer_logo {
  color: var(--base-color);
  font-weight: 400;
}

// Footer about
.portfolio_footer__about_description {
  @include detailFonts;
  opacity: var(--opacity);
}

// Social media in the footer
.portfolio__about_media {
  padding-top: var(--base-padding);
}

// Home inside of the footer
.portfolio_home__link {
  color: var(--base-color);
}

// Footer nav (Menu). This is details element
.portfolio_footer__home {
  padding-top: 78px;
  padding-bottom: calc(var(--base-padding) * 3);
}

.portfolio_footer__home_heading {
  padding-bottom: 24px;
}

// Summary inside of the details
.portfolio_menu_footer__summary {
  display: none;
}

// This is the list of the menu inside of footer
.portfolio_list_home_item {
  margin-bottom: var(--base-padding);
  opacity: var(--opacity);  
}

.portfolio_list_home .portfolio_list_home_item:hover,
.portfolio_list_home .portfolio_list_home_item > .portfolio_list_menu_link:hover {
  background-color: #000;
  color: #fff;
}

// Blog entries
.portfolio_footer__blog_entry__item {
  @include displayFlex;
  justify-content: unset;
  margin-bottom: var(--base-margin);
  width: var(--width);
  cursor: pointer;
  color: #000;
}


// The profile of the author inside of the blog entry 
.portfolio_footer__blog_author {
  width: 70px;
  height: 48px;
  align-self: center;
  border-radius: var(--border-radius);
  font-size: 16px;
  line-height: 24px;
}

// Blog
.portfolio_footer__blog_desc {
  margin: calc(var(--base-margin) * 0);
  opacity: var(--opacity);
}

// Date of the blog
.portfolio_footer__blog_updated {
  font-weight: 700;
  font-size: 12px;
  @include detailFonts;
}

// The last blog entry
.portfolio_footer__blog_entry__item:last-of-type {
  justify-content: start;
}

// Image insde of the second blog entry
.portfolio_footer__blog_author:last-of-type {
  margin-right: 30px;
}


// Author of this page and the copyright
.portfolio_builders {
  opacity: var(--opacity);
}

// Desktop
@media (min-width: $min-width) {

  // Border inside of the footer in desktop
  .portfolio_footer::after {
    top: calc(100% - 375px / 5);
  }
  
  // 
  .portfolio_footer__description {
    @include displayGrid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  // Footer nav
  .portfolio_footer__home {
    padding-bottom: calc(var(--base-padding) * 0);
    justify-self: center;
    padding-top: 48px;
  }

  .portfolio_footer__about  {
    padding: 0;
    margin-top: -40px;
  }
  // Footer nav item
  .portfolio_list_home {
    color: var(--base-color);
    opacity: var(--opacity);
  }

  .portfolio_footer__about_description {
    margin-right: 4rem
  }

  // Copyright
  .portfolio_builders {
    @include displayFlex;
  }
}