@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'custom_property';

.porfolio_footer__container {
  @include container;
}

.porfolio_footer__description {
  padding-bottom: calc(var(--base-padding) * 3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.porfolio_footer_logo {
  color: var(--base-color);
}

.porfolio_footer__about_description {
  line-height: 24px;
  opacity: var(--opacity);
}

.porfolio_footer__about_media {
  padding-top: var(--base-padding);
}

.porfolio_footer__home {
  padding-top: calc(var(--base-padding) * 3);
  padding-bottom: calc(var(--base-padding) * 3);
}

.portfolio_list_home_item {
  padding-bottom: var(--base-padding);  
}

.porfolio_footer__blog_entry__item {
  @include displayFlex;
  margin-bottom: var(--base-margin);
  justify-content: unset;
}

.porfolio_footer__blog_author {
  width: 70px;
  height: 48px;
  align-self: center;
  border-radius: 5px;
  margin-right: calc(var(--base-margin) * 2);
}

.porfolio_footer__blog_desc {
  margin: calc(var(--base-margin) * 0);
  opacity: var(--opacity);
}

.porfolio_footer__blog_updated {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

.porfolio_builders {
  opacity: var(--opacity);
}

@media (min-width: 960px) {
  .porfolio_footer__description {
    @include displayFlex;
    align-items: center;
  }

  .porfolio_builders {
    @include displayFlex;
  }

  .porfolio_footer__home {
    padding-bottom: calc(var(--base-padding) * 0);
  }

  .portfolio_list_home {
    color: var(--base-color);
    opacity: var(--opacity);
  }
}