@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'variables/custom_property';

// Heading
.portfolio_heading {
  background-color: var(--header-bg);
}

// Header container
.portfolio_heading__container {
  @include displayFlex;
  padding: var(--base-padding);
  margin-top: $margin * -(3 / 2);
}

// Logo
.portfolio_logo {
  margin: calc(var(--base-margin) * 0);
}

// logo liknk
.portfolio_logo_link {
  @include headingFonts;
  font-size: $logo-font-size;
  line-height: $logo-line-height;
  text-transform: var(--text-transform);
  color: var(--logo-color);
  ;
}

// Menu inside of the header
.portfolio_menu_navigation {
  width: 220px;
  height: var(--width);
  @include absolute-position;
  box-shadow: 0px 0px 50px rgba(0,0,0,.25);
  z-index: 2;
  background-color: var(--default-bg-color);
  padding-inline-start: calc(var(--base-padding) * 2);
  padding-block-start: var(--base-padding);
  transform: translateX(-100%);
  transition: transform .2s;
}

// Summary inside of the details of menu
summary {
  font-weight: 700;
  @include detailFonts;
}

// Removing the arrow in front of the summary
summary::-webkit-details-marker {
  display: none;
}

summary:active, summary:focus {
  border: none;
  outline: none;
}


// list navigation
.portfolio_list_menu {
  text-align: var(--text-align);
}

// list of the menu
.portfolio_list_menu_item {
  padding: 1rem;
}

// The list links
.portfolio_list_menu_link {
  color: var(--base-color);
}

.portfolio_list_menu_link:hover {
  background-color: rgba(0,0,0,.01);
}

// Desktop
@media (min-width: $min-width) {
  // Header container
  .portfolio_heading__container {
    @include container;
    justify-content: space-between;
  }

  // Changing the logo when it is desktop
  .portfolio_logo_link {
    @include headingFonts;
  }

  // Menu in desktop
  .portfolio_menu_navigation {  
    transform: translateX(0);
    background-color: transparent;
    position: unset;
    order: 2;
    width: 50%;
    height: 0;
    padding: calc(var(--padding) * 0);
  }

  // Summary
  summary {
    display: none;
  }

  // List of menu
  .portfolio_list_menu {
    @include displayFlex;
    justify-content: space-around;
  }

  // The link of menu 
  .portfolio_list_menu_link {
    font-weight: 700;
    @include detailFonts;
    color: var(--logo-color);
  }

  .portfolio_list_menu_item:hover, .portfolio_list_menu_link:hover {
    background-color: rgb(136, 160, 125);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

  // Label
  .label_menu {
    visibility: var(--visibility);
  }
}