@import "variables/variables";
@import "variables/fonts";
@import "variables/mixin";
@import "variables/custom_property";

// Div container
.portfolio_image_slider__container {
  @include container;
  padding-bottom: 89px;
}

// Heading (h3)
.portfolio_image_slider_heading {
  display: none;
}

// A div which wrap the figure
.portfolio_image_slider__all {
  padding-top: 100% * ($large-height / $large-width);
  position: var(--parent-position);
}

.prev-button {
  position: absolute;
}

// A div which wrap the images
.portfolio_image_slider_list {
  @include displayFlex;
  margin: calc(var(--base-margin) * 0);
  gap: 0.7%;
  width: 100%;
}

// Removing the scroll bar at the bottom of the image list
.portfolio_image_slider_list::-webkit-scrollbar {
  display: none;
}

// width of the images
.portfolio_image {
  border-radius: var(--basic-border);
  max-width: var(--image-width);
  margin-right: var(--image-left-space);
  opacity: var(--opacity);
  cursor: pointer;
  width: 100%;
}

.portfolio_image-one {
  opacity: 1;
}

// This is for the active image
.image_slider_active {
  width: $default-width;
  border-radius: var(--basic-border);
  @include absolute-position;
  // top: 100% * -1 / ($small-height / 1px);
  top: -2.17647%;
  margin-bottom: 8px;
  opacity: 1;
}

// Animation
// .portfolio_image:hover {
//   transform: rotateX(0.5turn);
//   transform: scale(1.06);
//   -webkit-transform: scale(1.06);
//   -moz-transform: scale(1.06);
//   -ms-transform: scale(1.06);
//   -o-transform: scale(1.06);
// }

// Desktop
@media (min-width: $min-width) {
  // A space between the images
  .portfolio_image {
    margin-right: calc(var(--image-left-space) * 0);
  }
}
