@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'variables/custom_property';

// Div container
.portfolio_image_slider__container {
  @include container;
}

// Heading (h3)
.portfolio_image_slider_heading {
  display: none;
}

// A div which wrap the figure
.portfolio_image_slider__all {
  padding-top: 100% * ($large-height / $large-width);
  position: var(--parent-position);
}

// A div which wrap the images
.portfolio_image_slider_list {
  @include displayFlex;
  overflow: auto;
  margin: calc(var(--base-margin) * 0);
}

// Removing the scroll bar at the bottom of the image list
.portfolio_image_slider_list::-webkit-scrollbar {
  display: none;
}

// This is for the active image
.image_slider_active {
  width: $default-width;
  border-radius: var(--basic-border);
  @include absolute-position;
  top: 100% * -1 / ($small-height / 1px);
}

// width of the images
.portfolio_image {
  border-radius: var(--basic-border);
  max-width: var(--image-width);
  margin-right: var(--image-left-space);
}

// Animation
.portfolio_image:hover {
  transform: rotateX(0.5turn);
}

// Desktop
@media (min-width: $min-width) {
  // A space between the images
  .portfolio_image {
    margin-right: calc(var(--image-left-space) * 0);
  }
}
