@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'custom_property';

.portfolio_image_slider__container {
  @include container;
}

.portfolio_image_slider_heading {
  display: none;
}

.portfolio_image_slider_list {
  @include displayFlex;
  position: var(--parent-position);
  overflow: auto;
}

.portfolio_image_slider_list::-webkit-scrollbar {
  display: none;
}

.image_slider_active {
  width: $default-width;
  border-radius: var(--basic-border);
}

.portfolio_image {
  width: 137px;
  border-radius: var(--basic-border);
}