@import 'variables/fonts';
@import 'variables/variables';
@import 'variables/mixin';
@import 'custom_property';

.portfolio_masthead__container {
  @include displayFlex;
  flex-direction: column;
  padding-top: 31px;
}

.portfolio_masthead__heading {
  font-family: 'DM Serif Display';
  font-size: 52px;
  line-height: 64px;
  order: 2;
}

.portfolio_masthead__intro {
  font-size: 18px;
  line-height: 32px;
  order: 3;
}

.portfolio_masthead_back {
  position: var(--parent-position);
  padding-left: calc(var(--base-padding) * 2);
  order: 1;
}

.portfolio_masthead_back::before {
  content: '';
  display: block;
  @include absolute-position;
  @include background('../web_icons/icon_arrow_left.svg');
  background-size: unset;
  left: -100%;
  top: 0;
}

@media (min-width: 960px) {
  .portfolio_masthead__container {
    @include container;
  }

  .portfolio_masthead__heading {
    font-size: 72px;
    line-height: 80px;
    white-space: pre-line; 
  }

  .portfolio_masthead__intro {
    font-size: 18px;
    line-height: 32px;
  }
}