@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'variables/custom_property';

.portfolio_carvings {
  padding-top: 75px;
  padding-bottom: 105px;
}

// Carving heading
.portfolio_carving__heading {
  @include headingFonts;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 31px;
}

// Carving summary
.portfolio_carving__summary {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding-bottom: 31px
}

// Carving description
.portfolio_carving_description {
  @include detailFonts;
  opacity: var(--opacity);
  margin: 0;
  padding-bottom: 31px;
}

// Carving sharing with social media
.portfolio_carving__sharing {
  padding-top: calc(var(--base-padding) * 2);
}

// Desktop
@media (min-width: $min-width) {
  // Carving container
  .portfolio_carvings {
    padding-top: calc(var(--base-padding) * 0);
  }

  // Carving heading
  .portfolio_carving__heading {
    font-size: 52px;
    line-height: 64px;
    margin-top: calc(var(--base-margin) * 0);
  }
  
}