@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'custom_property';

.portfolio_carving__heading {
  @include headingFonts;
}

.portfolio_carving__summary {
  font-size: 18px;
  line-height: 32px;
}

.portfolio_carving_description {
  @include detailFonts;
  opacity: var(--opacity);
}

.portfolio_carving__sharing {
  padding-top: calc(var(--base-padding) * 2);
}

@media (min-width: 960px) {
  .portfolio_carvings {
    padding-top: calc(var(--base-padding) * 0);
  }

  .portfolio_carving__heading {
    font-size: 52px;
    line-height: 64px;
    margin-top: calc(var(--base-margin) * 0);
  }
  
}