@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'custom_property';

.portfolio_metadata__container {
  padding-bottom: 105px;
} 

.portfolio_metadata_heading {
  display: none;
}

.portfolio_metadata_list {
  @include displayGrid;
  height: calc(100% / 2);
  padding-top: var(--base-padding);
}

.portfolio_metadata__item {
  opacity: var(--opacity);
}

.portfolio_metadata__item_text {
  font-weight: 700;
  @include detailFonts;
}

@media (min-width: 960px) {
  .portfolio_metadata__container {
    @include container;
    @include displayGrid;
    gap: 157px;
    padding-block-start: 88px;
  }
}