@import 'variables/variables';
@import 'variables/fonts';
@import 'custom_property';

.portfolio_metada_heading {
  display: none;
}

.portfolio_metadata_list {
  @include displayGrid;
  row-gap: 40px;
  column-gap: calc(40px * 2);
}

.portfolio_metadata__item {
  opacity: 0.5;
}

.portfolio_metadata__item_text {
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: 960px) {
  .portfolio_meatadata__container {
    @include container;
    @include displayGrid;
    gap: 157px;
  }
}