@import 'variables/variables';
@import 'variables/fonts';
@import 'variables/mixin';
@import 'custom_property';

.icon {
  color: transparent;
}

.facebook {
  @include background('../web_icons/icon_facebook.svg');
  background-size: auto;
  background-position: 0;
}

.twitter {
  @include background('../web_icons/icon_twitter.svg');
  background-size: auto;
  background-position: 0;
}

.instegram {
  @include background('../web_icons/icon_instagram.svg');
  background-size: auto;
  background-position: 0;
}