@import "variables/variables";
@import "variables/fonts";
@import "variables/mixin";
@import "variables/custom_property";

// Max width of li
.portfolio__about_media_list {
  max-width: 18px;
}

// All icons
.icon {
  color: transparent;
}

// Facebook
.facebook {
  @include background("../web_icons/icon_facebook.svg");
  @include icons;
  background-position: 0;
  width: 18px;
}

// Twitter
.twitter {
  @include background("../web_icons/icon_twitter.svg");
  @include icons;
  background-position: 36% 4px;
  background-size: 18px;
  width: 18px;
}

// Instagram
.instegram {
  @include background("../web_icons/icon_instagram.svg");
  @include icons;
  width: 18px;
}
