$fonts: (
  (
    family: 'DM Sans',
    fodername: 'DM_sans',
    filename: 'DMSans-Regular',
    local1: 'DM Sans',
    local2: 'DMSans',
    weight: 400,
    style: normal,
  ),

  (
    family: 'DM Sans',
    fodername: 'DM_sans',
    filename: 'DMSans-Bold',
    local1: 'DM Sans',
    local2: 'DMSans',
    weight: 700,
    style: normal,
  ),

  (
    family: 'DM Serif Display',
    fodername: 'DM_serif_display',
    filename: 'DMSerifDisplay-Regular',
    local1: 'DM Serif Display',
    local2: 'DMSerifDisplay',
    weight: 400,
    style: normal,
  ),

  (
    family: 'DM Serif Display',
    fodername: 'DM_serif_display',
    filename: 'DMSerifDisplay-Italic',
    local1: 'DM Serif Display',
    local2: 'DMSerifDisplay',
    weight: 700,
    style: italic,
  ),

);

