$parent-position: relative;

// Anchor
$anchor-text-decoration: none;

// Margin and padding 
$margin: 1rem;
$padding: 1rem;

$text-transform: uppercase;

$header-bg-color: #434CCC;

$logo-font-size: 24px;
$logo-line-height: 24px;

$base-color: #000000;

$border: 5px;

$text-align: center;

// Logo
$logo-base-color: #ffffff;

$default-bg-color: #ffffff;

$default-width: 100%;
$default-height: 100%;

$visibility: hidden;
