// Desktop
$min-width: 960px;

// Parent postion
$parent-position: relative;

// Anchor
$anchor-text-decoration: none;

// Margin and padding 
$margin: 1rem;
$padding: 1rem;

$text-transform: uppercase;

// Background of header
$header-bg-color: #434CCC;

// Font sizze
$logo-font-size: 24px;
$logo-line-height: 24px;

// Base color
$base-color: #000000;

// Border radius
$border: 5px;

// Text align
$text-align: center;

// Logo
$logo-base-color: #ffffff;

// Default background
$default-bg-color: #ffffff;

// Default width and height
$default-width: 100%;
$default-height: 100%;

// Visibility
$visibility: hidden;

// Opacity
$opacity: 0.5;

// Slider
$image-left-space: 5px;
$image-width: 137px;

$large-width: 1170px;
$large-height: 728px;
$small-width: 137px;
$small-height: 85px;

// Newsletter background color
$newsletter-bg: #FFDD78;

// Fieldset
$fieldset-height: 76px;
$fieldset-width: 346px;

// Subscribe button
$button-width: 48px;

// Default align self
$default-align-self: center;

// Social media
$background-size: auto;
$background-position: 50% 50%;