@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  src: local("DM Sans"), local("DM Sans"), local("DMSans"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  src: local("DM Sans"), local("DM Sans"), local("DMSans"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: normal;
  src: local("DM Serif Display"), local("DM Serif Display"), local("DMSerifDisplay"), url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff"); }

@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
  src: local("DM Serif Display"), local("DM Serif Display"), local("DMSerifDisplay"), url("../fonts/DMSerifDisplay-Italic.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Italic.woff") format("woff"); }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

body {
  font-family: 'DM sans';
  font-weight: 400;
  margin: calc(var(--base-margin) * 0);
  background-color: var(--body-bg-color); }

.container {
  padding: var(--base-padding); }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: var(--reset-anchor); }

.portfolio__media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: start; }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_heading {
  background-color: var(--header-bg); }

.portfolio_heading__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--base-padding);
  margin-top: -1.5rem; }

.portfolio_logo {
  margin: calc(var(--base-margin) * 0); }

.portfolio_logo_link {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 48px;
  font-size: 24px;
  line-height: 24px;
  text-transform: var(--text-transform);
  color: var(--logo-color); }

.portfolio_menu_navigation {
  width: 220px;
  height: var(--width);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  z-index: 2;
  background-color: var(--default-bg-color);
  padding-inline-start: calc(var(--base-padding) * 2);
  padding-block-start: var(--base-padding);
  transform: translateX(-100%);
  transition: transform .2s; }

summary {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

summary::-webkit-details-marker {
  display: none; }

.portfolio_list_menu {
  text-align: var(--text-align); }

.portfolio_list_menu_item {
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding); }

.portfolio_list_menu_link {
  color: var(--base-color); }

@media (min-width: 960px) {
  .portfolio_heading__container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between; }
  .portfolio_logo_link {
    font-family: "DM Serif Display";
    font-size: 40px;
    line-height: 48px; }
  .portfolio_menu_navigation {
    transform: translateX(0);
    background-color: transparent;
    position: unset;
    order: 2;
    width: 50%;
    height: 0;
    padding: calc(var(--padding) * 0); }
  summary {
    display: none; }
  .portfolio_list_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around; }
  .portfolio_list_menu_link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--logo-color); }
  .label_menu {
    visibility: var(--visibility); } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

input[type="checkbox"]:checked ~ .portfolio_heading .portfolio_menu_navigation {
  transform: translateX(0%); }

[type="checkbox"]:checked ~ .portfolio_details {
  z-index: 1; }

[type="checkbox"]:checked ~ .portfolio_heading .label_menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: var(--width);
  height: var(--height); }

.menu_checkbox {
  visibility: var(--visibility); }

.label_menu {
  color: transparent;
  position: var(--parent-position); }

.label_menu::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: calc(100% / 4);
  left: unset;
  background-image: url("../web_icons/icon_menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_masthead__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 31px; }

.portfolio_masthead__heading {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 48px;
  order: 2; }

.portfolio_masthead__intro {
  font-size: 18px;
  line-height: 32px;
  order: 3; }

.portfolio_masthead_back {
  position: var(--parent-position);
  padding-left: calc(var(--base-padding) * 2);
  order: 1;
  opacity: var(--opacity); }

.portfolio_masthead_back::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../web_icons/icon_arrow_left.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: unset;
  left: -100%; }

@media (min-width: 960px) {
  .portfolio_masthead__container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; }
  .portfolio_masthead__wrap {
    padding-right: 50%; }
  .portfolio_masthead__heading {
    font-size: 72px;
    line-height: 80px;
    margin-top: calc(var(--base-margin) * 0);
    white-space: pre-line; }
  .portfolio_masthead__intro {
    font-size: 18px;
    line-height: 32px; } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_image_slider__container {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto; }

.portfolio_image_slider_heading {
  display: none; }

.portfolio_image_slider__all {
  padding-top: 62.22222%;
  position: var(--parent-position); }

.portfolio_image_slider_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  margin: calc(var(--base-margin) * 0); }

.portfolio_image_slider_list::-webkit-scrollbar {
  display: none; }

.image_slider_active {
  width: 100%;
  border-radius: var(--basic-border);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: -1.17647%; }

.portfolio_image {
  border-radius: var(--basic-border);
  max-width: var(--image-width);
  margin-right: var(--image-left-space); }

@media (min-width: 960px) {
  .portfolio_image {
    margin-right: calc(var(--image-left-space) * 0); } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_metadata__container {
  padding-bottom: 105px; }

.portfolio_metadata_heading {
  display: none; }

.portfolio_metadata_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: calc(100% / 2);
  padding-top: var(--base-padding); }

.portfolio_metadata__item {
  opacity: var(--opacity); }

.portfolio_metadata__item_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; }

@media (min-width: 960px) {
  .portfolio_metadata__container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    gap: 157px;
    padding-block-start: 88px; } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_carving__heading {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 48px; }

.portfolio_carving__summary {
  font-size: 18px;
  line-height: 32px; }

.portfolio_carving_description {
  font-size: 16px;
  line-height: 24px;
  opacity: var(--opacity); }

.portfolio_carving__sharing {
  padding-top: calc(var(--base-padding) * 2); }

@media (min-width: 960px) {
  .portfolio_carvings {
    padding-top: calc(var(--base-padding) * 0); }
  .portfolio_carving__heading {
    font-size: 52px;
    line-height: 64px;
    margin-top: calc(var(--base-margin) * 0); } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio__about_media_list {
  max-width: 18px; }

.icon {
  color: transparent; }

.facebook {
  background-image: url("../web_icons/icon_facebook.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: 50% 50%;
  background-position: 0; }

.twitter {
  background-image: url("../web_icons/icon_twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: 50% 50%; }

.instegram {
  background-image: url("../web_icons/icon_instagram.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: 50% 50%; }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_newsletter {
  background-color: var(--newsletter-bg); }

.portfolio_newsletter__container {
  padding: var(--base-padding);
  padding-top: 63px;
  padding-bottom: 54px; }

.portfolio_newsletter__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column-reverse; }

.portfolio_newsletter__heading {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 48px; }

.portfolio_newsletter__hint {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: var(--text-transform); }

.portfolio_newsletter__email {
  border: none;
  padding: calc(var(--base-padding) * 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column; }

.portfolio_newsletter__label {
  font-weight: 700;
  font-size: 12px;
  font-size: 16px;
  line-height: 24px;
  text-transform: var(--text-transform);
  padding-bottom: var(--base-padding); }

.portfolio_newsletter__input {
  padding: var(--base-padding);
  border: none;
  border-radius: var(--border-radius);
  width: 90%; }

input[type="email"] {
  color: rgba(0, 0, 0, 0.5); }

.portfolio_newsletter__input [type="email"] {
  opacity: var(--opacity); }

.portfolio_newsletter_subscribe {
  background-color: var(--header-bg);
  color: var(--default-bg-color);
  padding: var(--base-padding);
  padding-left: calc(var(--base-padding) * 2);
  padding-right: calc(var(--base-padding) * 2);
  border: none;
  border-radius: var(--border-radius);
  margin-top: var(--base-margin); }

@media (min-width: 960px) {
  .portfolio_newsletter__container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-columns: 2fr 2fr 1fr; }
  .portfolio_newsletter__heading {
    font-size: 52px;
    line-height: 64px;
    margin: calc(var(--base-margin) * 0); }
  .portfolio_newsletter__email {
    align-self: var(--default-align-self);
    padding-left: 21.96532%; }
  .portfolio_newsletter_subscribe {
    height: var(--button-width);
    align-self: var(--default-align-self);
    margin-top: calc(var(--base-margin) * (2 + 1/2)); } }

:root {
  --body-bg-color: rgba(67, 76, 204, 0.05);
  --reset-anchor: none;
  --base-padding: 1rem;
  --base-margin: 1rem;
  --logo-color: #ffffff;
  --basic-border: 5px;
  --parent-position: relative;
  --header-bg: #434CCC;
  --text-transform: uppercase;
  --base-color: #000000;
  --border-radius: 5px;
  --basic-text-align: center;
  --default-bg-color: #ffffff;
  --width: 100%;
  --height: 100%;
  --visibility: hidden;
  --opacity: 0.5;
  --image-left-space: 5px;
  --image-width: 137px;
  --large-width: 1170px;
  --large-height: 728px;
  --small-width: small-width;
  --small-height: small-height;
  --newsletter-bg: #FFDD78;
  --button-width: 48px;
  --default-align-self: center; }

.portfolio_footer {
  position: var(--parent-position); }

.portfolio_footer::after {
  content: '';
  display: block;
  width: var(--width);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: calc(100% - 375px / 3);
  box-sizing: border-box; }

.portfolio_footer__container {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto; }

.portfolio_footer__description {
  padding-bottom: calc(var(--base-padding) * 3); }

.portfolio_footer_logo {
  color: var(--base-color); }

.portfolio_footer__about_description {
  font-size: 16px;
  line-height: 24px;
  opacity: var(--opacity); }

.portfolio__about_media {
  padding-top: var(--base-padding); }

.portfolio_home__link {
  color: var(--base-color); }

.portfolio_footer__home {
  padding-top: calc(var(--base-padding) * 3);
  padding-bottom: calc(var(--base-padding) * 3); }

.portfolio_menu_footer__summary {
  display: none; }

.portfolio_list_home_item {
  padding-bottom: var(--base-padding);
  opacity: var(--opacity); }

.portfolio_footer__blog_entry__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--base-margin);
  width: var(--width); }

.portfolio_footer__blog_author {
  width: 70px;
  height: 48px;
  align-self: center;
  border-radius: var(--border-radius); }

.portfolio_footer__blog_desc {
  margin: calc(var(--base-margin) * 0);
  opacity: var(--opacity); }

.portfolio_footer__blog_updated {
  font-weight: 700;
  font-size: 12px;
  font-size: 16px;
  line-height: 24px; }

.portfolio_footer__blog_entry__item:last-of-type {
  justify-content: start; }

.portfolio_footer__blog_author:last-of-type {
  margin-right: calc(var(--base-margin) * 4); }

.portfolio_builders {
  opacity: var(--opacity); }

@media (min-width: 960px) {
  .portfolio_footer::after {
    top: calc(100% - 375px / 5); }
  .portfolio_footer__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; }
  .portfolio_footer__home {
    padding-bottom: calc(var(--base-padding) * 0);
    justify-self: center; }
  .portfolio_list_home {
    color: var(--base-color);
    opacity: var(--opacity); }
  .portfolio_builders {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
