@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  src: local("DM Sans"), local("DM Sans"), local("DMSans"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  src: local("DM Sans"), local("DM Sans"), local("DMSans"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"); }

@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: normal;
  src: local("DM Serif Display"), local("DM Serif Display"), local("DMSerifDisplay"), url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff"); }

@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
  src: local("DM Serif Display"), local("DM Serif Display"), local("DMSerifDisplay"), url("../fonts/DMSerifDisplay-Italic.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Italic.woff") format("woff"); }

:root {
  --reset-anchor: $anchor-text-decoration;
  --base-padding: $padding;
  --base-margin: $padding;
  --logo-color: $logo-base-color;
  --base-visibility: $visibility; }

:root {
  --reset-anchor: $anchor-text-decoration;
  --base-padding: $padding;
  --base-margin: $padding;
  --logo-color: $logo-base-color;
  --base-visibility: $visibility; }

body {
  font-family: 'DM sans';
  font-weight: 400;
  margin: 0rem; }

main {
  padding: 1rem; }

footer {
  padding: 1rem; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: var(--reset-anchor); }

:root {
  --reset-anchor: $anchor-text-decoration;
  --base-padding: $padding;
  --base-margin: $padding;
  --logo-color: $logo-base-color;
  --base-visibility: $visibility; }

.portfolio_heading__container {
  background-color: #434CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-top: -1.5rem; }

.portfolio_logo {
  margin: 0rem; }

.portfolio_logo_link {
  font-family: 'DM Serif Display';
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff; }

.portfolio_menu_navigation {
  width: 220px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  z-index: 2;
  background-color: #ffffff;
  padding-inline-start: calc(var(--base-padding) * 2);
  padding-block-start: var(--base-padding);
  transform: translateX(-100%);
  transition: transform .2s; }

.portfolio_list_menu {
  text-align: center; }

.portfolio_list_menu_item {
  padding-top: 1rem;
  padding-bottom: 1rem; }

input[type="checkbox"]:checked ~ .portfolio_heading .portfolio_menu_navigation {
  transform: translateX(0%); }

.portfolio_list_menu_link {
  color: #000000; }

[type="checkbox"]:checked ~ main {
  z-index: 1; }

.menu_checkbox {
  visibility: hidden; }

.label_menu {
  color: transparent;
  position: relative; }

.label_menu::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  top: calc(100% / 4);
  background-image: url("../svg/menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
